<div class="hero-container">
    <div class="hero-text">
      <h1>Simplify you finances, Amplify you impact</h1>
      <p>Manage your money easily and make a bigger difference with every choice you make. Start your journey to financial clarity and meaningful impact today!</p>
      <button class="button-48" role="button" routerLink="/funds/filter"><span class="text">Explore </span></button>
    </div>
    <div class="hero-image">
      <img src="assets/hero-pick.jpg" alt="Hero Image">
    </div>
  </div>