<div class="container">
    <h2 class="text-center mb-4">Update Profile</h2>
    <form (ngSubmit)="onSave(profileForm)" #profileForm="ngForm" class="animated-form">
        <div class="form-group">
            <label for="userName">Username</label>
            <input 
              type="text" 
              id="userName" 
              class="form-control" 
              name="userName" 
              [(ngModel)]="userProfile.userName" 
              [readonly]="!isEditing" 
              required 
              placeholder="Enter your username" />
        </div>

        <div class="form-group">
            <label for="userPassword">Password</label>
            <input 
              type="password" 
              id="userPassword" 
              class="form-control" 
              name="userPassword" 
              [(ngModel)]="userProfile.userPassword" 
              [readonly]="!isEditing" 
              required 
              placeholder="Enter your password" />
        </div>

        <div class="form-group">
            <label for="userPhone">Phone Number</label>
            <input 
              type="tel" 
              id="userPhone" 
              class="form-control" 
              name="userPhone" 
              [(ngModel)]="userProfile.userPhone" 
              [readonly]="!isEditing" 
              required 
              placeholder="Enter your phone number" />
        </div>

        <div class="button-wrapper">
            <button 
              *ngIf="!isEditing" 
              type="button" 
              class="btn btn-animated btn-block" 
              (click)="onEdit()">Edit</button>

            <button 
              *ngIf="isEditing" 
              type="submit" 
              class="btn btn-animated btn-block btn-spaced" (click)="onSave(profileForm)">Save</button>
              
            <button 
              *ngIf="isEditing" 
              type="button" 
              class="btn btn-animated btn-block btn-spaced" 
              (click)="onCancel(profileForm)">Cancel</button>
        </div>
    </form>
</div>
