<nav class="navbar fixed-top navbar-expand-lg navbar-custom">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/"
    routerLinkActive="active">FundWise</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/funds/filter"
            routerLinkActive="active"
            >Explore</a
          >
        </li>
        <li class="nav-item" *ngIf="authService.isLoggedIn">
          <a
            class="nav-link"
            routerLink="/funds/user/investments"
            routerLinkActive="active"
            >Investments</a
          >
        </li>
      </ul>
      <div class="d-flex mx-auto justify-content-center" >
        <form class="d-flex search-form" (ngSubmit)="onSearch()"  *ngIf="authService.isLoggedIn && !authService.inFundDetailsPage && !authService.inInvestmentsPage && !authService.inCartPage && !authService.inHomePage">
          <input
            class="form-control search-input me-2"
            type="search"
            placeholder="Search funds"
            aria-label="Search"
            [(ngModel)]="fundName"
            name="search"
            (input)="onSearch()"
          />
          <button class="btn btn-outline-light search-btn" type="submit">
            Search
          </button>
        </form>
      </div>
      <ul class="navbar-nav mb-2 mb-lg-0" *ngIf="!authService.isLoggedIn">
        <li class="nav-item">
          <a class="nav-link" routerLink="/signin" routerLinkActive="active"
            >Sign In</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signup" routerLinkActive="active"
            >Sign Up</a
          >
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0" *ngIf="authService.isLoggedIn">
        <li class="nav-item">
          <a class="nav-link" routerLink="/user/cart" routerLinkActive="active">
            <i class="bi bi-cart-check" style="font-size: 1.5rem;"></i>
          </a>
        </li>
      </ul>
      <ul class="nav nav-pills" *ngIf="authService.isLoggedIn">
        <li class="nav-item dropdown">
          <a class="nav-link text-success" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <img src="assets/user.png" alt="Profile" class="profile-logo" width="40px" height="40px">
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/user/profile">My Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logoutUser()">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
