  .footer {
    display: flex;
    padding: 30px 30px 20px 30px;
    color: #3b3a3a;
    background-color: #ffffff;
    border-top: 1px solid #e5e5e5;
    justify-content: space-between;
  }
  
  .footer ul {
    list-style: none;
    padding-left: 0;
  }
  
  .footer li {
    line-height: 2em;
    color: #3b3a3a;
  }
  
  .footer a {
    text-decoration: none;
    color: #3b3a3a;
  }

  .footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgba(83, 169, 126, 0.07);
    border-radius: 50px;
    color: #2f2f2f;
    border: 1px solid;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
  }

  
  .footer__logo {
    font-weight: 700;
    text-transform: capitalize;
    font-size: 2rem;
    color: #4CAF50;
  }
  