<div class="main-container">
    <div class="cart">
        <h2>My Cart ({{cartItems.length}})</h2>

        <div *ngIf="cartItems.length === 0" class="no-results">
            <p>Your cart is empty. Start adding funds!</p>
        </div>

        <div class="cart-item" *ngFor="let cartItem of cartItems">
            <div class="cart-item-details">
                <h3>{{cartItem.fund.fundName}}</h3>
                <p>₹{{cartItem.plannedInvestment}} One-time</p>
            </div>
            <div class="cart-item-remove">
                <i class="bi bi-x" style="font-size: 1.5rem; cursor: pointer; text-align: center;"
                    (click)="deleteCart(cartItem.cartId)"></i>
            </div>
        </div>

        <div class="cart-actions">
            <button class="add-more-funds" routerLink="/funds/filter">Add More Funds</button>
        </div>
    </div>

    <div class="payment-container">
        <div class="payment-details">
            <h2>₹{{totalPayableAmount}}</h2>
            <p>Amount payable</p>
        </div>

        <div class="payment-terms">
            <p>By continuing, you agree to <a href="/funds/filter">Terms & Conditions</a></p>
        </div>

        <button class="proceed-to-pay-button" [disabled]="totalPayableAmount === 0" (click)="onProceedToPay()">PROCEED TO PAY</button>

        <div class="alert alert-success mt-4 mb-3" role="alert" *ngIf="cartService.isInvestmentSuccess">
            Payment Successfull.
        </div>
    </div>
</div>